$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);

$steel-blue: hsl(207, 26%, 40%);
$steel-blue-hover: hsl(207, 26%, 30%);
$steel-blue-disabled: hsl(207, 10%, 70%);
$sky-blue: hsl(198, 14%, 50%);
$gunmetal: hsl(194, 10%, 29%);
